.hamburger {
  position: relative;
  &-links {
    position: absolute;
    height: fit-content;
    background: linear-gradient(to bottom, #9e0101, #ff6d6d);
    backdrop-filter: blur(15px);
    top: 50px;
    left: -63px;
    width: 170px;
    text-align: center;
    border-radius: 0% 0% 30px 30px;
    box-shadow: 0px -10px 10px 0px rgb(116, 12, 12);
    animation: hamburger-on 0.5s ease forwards;
    ul {
      padding-inline: 10px;
      display: flex;
      flex-flow: nowrap column;
      justify-content: center;
      align-items: space-between;
      li {
        padding-block: 10px;
      }
    }
  }
}

.hamburger-icon {
  transition: all 0.3s ease-in-out;
  aspect-ratio: 1;
  width: 45px;
  background: none;
  border: none;
  font-size: 1.5rem;
  border: solid white 1px;
  border-radius: 100%;
  display: flex;
  flex-flow: nowrap column;
  justify-content: center;
  align-items: center;
  span {
    display: block;
    height: 5px;
    width: 35px;
    background: #fff;
    border-radius: 20px;
    transition: all 0.3s ease-in-out;
    transform-origin: center;
    margin-block: 2px;
  }
}
.is-active {
  transition-delay: 0.7s;
  transform: rotate(45deg);
  span:nth-child(1) {
    transition-delay: 0.3s;
    transform: rotate(90deg) translateX(9px);
  }
  span:nth-child(3) {
    transition-delay: 0.3s;
    transform: translateY(-9px);
  }
  span:nth-child(2) {
    width: 0;
  }
}
@keyframes hamburger-on {
  from {
    clip-path: inset(0 0 100% 0);
  }
  to {
    clip-path: inset(0 0 0 0);
  }
}

@media only screen and (max-width: 550px) {
  .hamburger-links {
    font-size: 1rem;
    width: 150px;
    left: -70px;
  }
}
