.preview-scene-carousel {
  animation: none !important;
  perspective: 3000px;
  perspective-origin: top center;
}

.preview-container-carousel {
  position: relative;
  img {
    position: fixed;
    width: 75%;
  }
}

.carousel-controls {
  position: absolute;
  aspect-ratio: 1;
  height: fit-content;
  background: none;
  border: none;
  top: 50vh;
  font-size: 2.3em;
  z-index: 5 !important;
  transition: all 0.5s ease;
  &:hover {
    font-size: 2.5em;
  }
}
.carousel-next {
  right: 2vw;
}
.carousel-prev {
  left: 2vw;
}
.preview-image-carousel {
  transition: all 1s ease;
  opacity: 0;
}
.carousel-left {
  transform: rotateY(-90deg);
}
.carousel-right {
  transform: rotateY(90deg);
}
.carousel-active {
  display: block;
  transform: none;
  opacity: 1;
  box-shadow: black 55px 20px 80px 0px;
}
.carousel-native {
  img {
    width: 35vw;
    min-width: 240px;
    height: auto;
  }
  .carousel-active {
    box-shadow: none;
  }
}

@media only screen and (max-width: 550px) {
  .carousel-controls {
    font-size: 1.5em;
    &:hover {
      font-size: 1.9em;
    }
  }
}
